<h1>
  {{ heroe?.id ? "Editar" : "Nuevo" }}
  heroe <small>asd</small>
</h1>

<div fxLayout="row" fxLayoutGap="40px">
  <div fxFlex="50" fxLayout="column">
    <div fxFlex="row " fxLayoutGap="20px">
      <mat-form-field fxFlex="100">
        <mat-label>Super Heroe</mat-label>
        <input type="text" [(ngModel)]="heroe.superhero" matInput required />
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Alter Ego</mat-label>
        <input type="text" matInput required [(ngModel)]="heroe.alter_ego" />
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Primera Aparicion</mat-label>
      <input
        type="text"
        matInput
        required
        [(ngModel)]="heroe.first_appearance"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Personajes</mat-label>
      <input type="text" matInput required [(ngModel)]="heroe.characters" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Creador</mat-label>
      <mat-select required [(ngModel)]="heroe.publisher">
        <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
          {{ publisher.desc }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Foto Url</mat-label>
      <input type="url" matInput required [(ngModel)]="heroe.alt_img" />
    </mat-form-field>

    <br />
    <div fxLayout>
      <button (click)="guardar()" mat-raised-button color="primary">
        <mat-icon>edit</mat-icon>
        {{ heroe?.id ? "Editar" : "Guardar" }}
      </button>
      <span class="spacer"></span>
      <button
        *ngIf="heroe?.id"
        (click)="borrar()"
        mat-raised-button
        color="warn"
      >
        <mat-icon>delete</mat-icon>
        Borrar
      </button>
    </div>
  </div>
  <div fxFlex="50">
    <img width="500" [src]="heroe | images" alt="" />
  </div>
</div>
